.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
}
.opacity-transition {
  -webkit-transition-property: -khtml-opacity, opacity;
  -webkit-transition-duration: 0.15s, 0.15s;
  -webkit-transition-timing-function: linear, linear;
  -moz-transition-property: -moz-opacity, opacity;
  -moz-transition-duration: 0.15s, 0.15s;
  -moz-transition-timing-function: linear, linear;
  transition-property: -moz-opacity, -khtml-opacity, opacity, filter;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-timing-function: linear, linear, linear, linear;
}
