@import "mixins.less";

a {
  .transition(color 0.1s linear);
}

.container {
  margin: 0 auto;
  padding: 10px 30px;
}

#title {
  width: 100%;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  margin: 10px 0 20px 0;
}

.left {
  width: 45%;
  float: left;
}

.right {
  width: 45%;
  float: right;
}