@import "forms.css";
.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
}
.opacity-transition {
  -webkit-transition-property: -khtml-opacity, opacity;
  -webkit-transition-duration: 0.15s, 0.15s;
  -webkit-transition-timing-function: linear, linear;
  -moz-transition-property: -moz-opacity, opacity;
  -moz-transition-duration: 0.15s, 0.15s;
  -moz-transition-timing-function: linear, linear;
  transition-property: -moz-opacity, -khtml-opacity, opacity, filter;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-timing-function: linear, linear, linear, linear;
}
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -ms-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
.container {
  margin: 0 auto;
  padding: 10px 30px;
}
#title {
  width: 100%;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  margin: 10px 0 20px 0;
}
.left {
  width: 45%;
  float: left;
}
.left button#new-game {
  margin: 20px 40%;
}
.left #new-game-form {
  visibility: hidden;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
  background: rgba(50, 50, 50, 0.1);
  border-bottom: solid 1px rgba(255, 255, 255, 0.8);
}
.left #new-game-form input[type='text'] {
  width: 97%;
  border: solid 1px #AAA;
}
.left #new-game-form input[type='text']:focus {
  border-color: #0993c7;
}
.left #new-game-form select {
  width: 75%;
}
.left #new-game-form button {
  float: right;
  margin-top: -33px;
  height: 29px;
}
.left #new-game-form .chzn-choices {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.left #new-game-form .chzn-container .chzn-results li {
  text-shadow: none;
}
.left ul#current-games {
  margin-top: 20px;
}
.left ul#current-games li {
  padding: 10px;
  border-bottom: solid 1px #CCC;
}
.right {
  width: 45%;
  float: right;
}
